---
title: Digitallil
---

<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {# <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet"> #}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;900&display=swap" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <title>Digitallil | {{ title }}</title>
</head>
<body class="font-figtree min-h-screen bg-secondary text-white overflow-x-hidden">
  {% include 'layout/header.njk' %}

  <main>
    <div>
      {{ content | safe }}
    </div>

    <footer class="px-8 md-px-32 py-16 [ max-w-7xl mx-auto ]">
      <div class="max-w-xl">
        <h3 class="font-black text-3xl leading-snug">Let's chat<span class="text-accent">.</span></h3>
        <p class="text-secondary-light text-xl leading-snug">Ready to take your marketing to the next level? Contact us today to learn how we can help.</p>
      </div>

      <div class="mt-16 flex items-center gap-8">
        {% for method in contact %}
          <a href="{{ method.href }}" class="flex items-center gap-4">
            <span class="block h-16 w-16 bg-accent"></span>
            <span class="font-black text-xl">{{ method.text }}</span>
          </a>
        {% endfor %}
      </div>
    </footer>
  </main>
</body>
</html>