@font-face {
  font-family: 'circular_stdmedium';
  src: url('../assets/fonts/circularstd-medium-webfont.woff2') format('woff2'),
       url('../assets/fonts/circularstd-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'circular_stdbook';
  src: url('../assets/fonts/circularstd-book-webfont.woff2') format('woff2'),
       url('../assets/fonts/circularstd-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'circular_stdblack';
  src: url('../assets/fonts/') format('woff2'),
       url('../assets/fonts/circularstd-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@tailwind base;
@tailwind components;
@tailwind utilities;